<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
  To contact Chuck Logan Lim, send him an email at <a href="mailto:&#099;&#104;&#117;&#099;&#107;&#108;&#111;&#103;&#097;&#110;&#046;&#108;&#105;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#099;&#104;&#117;&#099;&#107;&#108;&#111;&#103;&#097;&#110;&#046;&#108;&#105;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
</p>